.h-2{
    color:hsl(0, 49%, 39%);
    font-style: bold;

}
.h-3{
    color:hsl(0, 49%, 39%);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:1px solid #c06413;
    border-width: 0 0 2px 0;
    display: inline-block;
    padding-bottom: 5px;
}
.button-1{
      background-color:hsl(0, 49%, 39%);
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      height:40px;
      border:3px solid hsl(0, 49%, 39%);
      display: inline-block;
      color:white;
}
.button-1:hover{
    background-color: white;
    color: rgb(64, 33, 33);
    transition: 0.3s ease-in-out;
}

.cards:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  
  background-color:  rgb(64, 33, 33);
}
.cards h4,p{
    color:hsl(0, 49%, 39%);
}
.cards:hover h4,
.cards:hover p {
  color: white !important;
}

