.shop-section h2 {
  color:hsl(0, 49%, 39%);
  text-align: center;
  margin-bottom: 30px;
}

.shop-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.shop-card {
  position: relative;
  width: 250px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;

}

.shop-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.shop-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 26, 7, 0.6); /* dark semi-transparent overlay */
  color: #f0d58c;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shop-card .overlay .desc {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/* Hover Effects */
.shop-card:hover img {
  transform: scale(1.1); /* zoom + slight tilt */
}

.shop-card:hover .overlay {
  opacity: 1;
  backdrop-filter: blur(2px); /* blur effect */
}

/* Responsive */
@media(max-width:768px) {
  .shop-card {
    width: 45%;
    height: 160px;
  }
}

@media(max-width:480px) {
  .shop-card {
    width: 90%;
    height: 150px;
  }
}
